*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);

}

img, picture, svg, video {
  display: block;
  max-width: 100%;

}

p, li, figcaption {
  max-width: 65ch;
  
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}



.product-card {
  width: 100%;
  max-width: 40rem;
  margin:  20px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  overflow: hidden;
  
}


.content-section {
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  
}

#product-category {
  font-size: 0.889rem;
  letter-spacing: 5px;
  opacity: 50%;
}

.product-name {
  font-family: "Fraunces", serif;
  font-size: 2.027rem;
  font-weight: 700;
  margin: 10px 0;
  word-spacing: 10px;
  line-height: 100%;

}

.product-description {
  font-weight: 500;
  opacity: 50%;
  font-size: 0.889rem;
  line-height: 170%;
}


.product-pricing-container {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  
}

.product-price--discount {
  font-weight: 700;
  font-size: 40px;
  margin-right: 20px;
  color: hsl(158, 36%, 37%);

}

.product-price--original {
  opacity: 50%;
}


.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  background-color: hsl(158, 36%, 37%);
  column-gap: 10px;
  border: 0;
  border-radius: 10px;
  width: 100%;
  transition: background-color 300ms ease-in-out;

}


.add-to-cart-button:hover {
  background-color: hsl(158, 41%, 18%);
  
}

@media (min-width: 640px) {

  .product-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 40rem;
    max-width: 50rem;
    
  }

  .images-section, .content-section {
    flex: 1;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
 
  .product-name {
    font-size: 2.885rem;
    margin: 20px 0;
  
  }
  .product-description {
    font-weight: 500;
    opacity: 50%;
    font-size: 1.125rem;
  }

  .add-to-cart-button {
    font-size: 1.125rem;

  }
  
}



