* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);

}

main {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  margin: 25px 20px;
  border-radius: 18px;
  overflow: hidden;
}

.product-img--mobile {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
  
}
.product-img--desktop {
  display: none;
}


.product-content {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  
}


.product-category {
  font-family: "Montserrat", sans-serif;
  word-spacing: 30px;
}

.product-name {
  font-family: "Fraunces", serif;
  font-size: 2.027rem;
  line-height: 100%;
}

.product-description {
  font-weight: 500;
  opacity: 50%;
  font-size: 0.889rem;
}

.product-category {
  line-height: 150%;
  word-spacing: 100px;
}

.product-pricing-container {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px
  
}

.product-price--discount {
  font-size: 40px;
  margin-right: 20px;
  color: hsl(158, 36%, 37%);

}

.product-price--original {
  text-decoration: line-through;
  opacity: 50%;
}


.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  background-color: hsl(158, 36%, 37%);
  column-gap: 10px;
  border: 0;
  border-radius: 10px;
  min-width: 300px;
  margin: 10px;
  margin-bottom: 20px;

}



@media (min-width: 375px) {

  .add-to-cart-button {
    min-width: 300px;
    font-size: 18px;
    
    
    
  }

}



@media (min-width: 475px) {

  main {
    min-width: 375px;
  }

  .add-to-cart-button {
    min-width: 375px;
    font-size: 30px;
    
    
    
  }

}


@media (min-width: 640px) {

  main {
    min-width: 475px;
  }
  
}

@media (min-width: 768px) {

  main {
    display: flex;
    flex-direction: row;
    min-width: 640px;
    align-items: center;
    
  }
  .product-img--mobile {
    display: none;
  }

  .product-img--desktop {
    display: block;
    width: 100%;
    
  }

  

}

/*

The mobile-first pre-defined media queries:
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

